[submodule "googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
	branch = main
[submodule "pcg"]
	path = external/pcg
	url = https://github.com/DrylandEcology/pcg-c-basic
        branch = feature_sw2
