#eclipse project files
.cproject
.project
.settings/

# History files
.Rhistory

# Crap Mac OS X Hidden Files
.DS_Store

# Example code in package build process
*-Ex.R
/Debug/

# Test project output
/testing/Output/*

# Google unit test output
gtest-*.o
libgtest.a
sw_test

# Doxygen documentation files: they should be produced locally
doc/html/*
