#eclipse project files
.cproject
.project
.settings/

# History files
.Rhistory

# Crap Mac OS X Hidden Files
.DS_Store

# Example code in package build process
*-Ex.R
/Debug/

# Test project output
/tests/example/Output/*
/tests/example/Output_*


# Figures created by scripts in tools/
/tools/Fig*
/tools/*.pdf

# Google unit test output
gtest-*.o
libgtest.a
sw_test

# Coverage files
*.gcda
*.gcno
*.gcov
*.dSYM

# Doxygen documentation files: they should be produced locally
doc/html/*
doc/log_doxygen.log
doc/Doxyfile.bak

# Build and binary directories and files
bin/*
build/*
SOILWAT2
tests/example/SOILWAT2
libSOILWAT2*
libcovSOILWAT2*

