#eclipse project files
.cproject
.project
.settings/

# VS Code default folder
.vscode/

# History files
.Rhistory

# Crap Mac OS X Hidden Files
.DS_Store

# Example code in package build process
*-Ex.R
/Debug/

# Files produced by example run
/tests/example/Output/*
/tests/example/Output_*
/tests/example/Input_nc/domain.nc
/tests/example/Input_nc/progress.nc
/tests/example/Input_nc/*/index_*.nc

# Figures created by scripts in tools/
/tools/Fig*
/tools/*.pdf
/tools/figures/
/tools/figures*

# Google unit test output
gtest-*.o
libgtest.a
sw_test

# Coverage files
*.gcda
*.gcno
*.gcov
*.dSYM

# Doxygen documentation files: they should be produced locally
doc/html/*
doc/log_doxygen.log
doc/Doxyfile.bak

# Build and binary directories and files
bin/*
build/*
SOILWAT2
tests/example/SOILWAT2
libSOILWAT2*
libcovSOILWAT2*

